body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(145, 145, 145, 0.5);
}

.input-form {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
}

.btn-primary {
  border-radius: 5px;
  padding: 11px;
  border: none;
  color: #fff;
  background-color: rgb(103, 103, 234);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  .mt {
    margin-top: 10px;
  }
}
